
*{
  padding: 0;
  margin: 0;
  outline: none;
  color: white;
}
button, input {
  color: black;
}

body {
  background-color: #F4EAD5;
}

.TabComponent {
  position: relative;
  top: 50px;
  width: 650px;
  height: 450px;
  margin: auto;
}

.FirstDiv, .SecondDiv, .ThirdDiv, .FourthDiv {
  background-color: #E94E77;
  color: black;
  text-align: center;
  height: 450px;
}

#btnDiv {
  position: relative;
  width: 100px;
  height: 50px;
  font-size: 1.3em;
  color: white;
  background-color: #E94E77;
  border: solid #E94E77 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 5px;
}

.LoginComponent {
  position: relative;
  top: 25px;
}

.loginButton {
  width: 100px;
  height: 50px;
  font-size: 1.5em;
  background-color: green;
  border: solid green 1px;
  border-radius: 10px;
  color: white;
}

.logInTextDiv {
  position: relative;
  top: 20px;
  width: 400px;
  margin: auto;
  font-size: 2em;
  color: white;
}

.lockTextArea {
  width: 400px;
  height: 200px;
  margin: 10px;
  font-size: 2em;
  border: none;
  border-radius: 5px;
  color: black;
}

.textCheckbox {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 135px;
}

#nrOfStepsInput {
  height: 25px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

form > button {
  height: 30px;
  width: 75px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.weirdTextArea {
  width: 400px;
  height: 200px;
  margin: 10px;
  font-size: 2em;
  border: none;
  border-radius: 5px;
  color: black;
}

#nrOfSteps {
  padding-top: 10px;
}

.GuessTheNumber {
  position: relative;
  top: 20px;
}

.guessInput {
  height: 36px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 2px;
}

.guessButton, .resetButton {
  height: 40px;
  width: 75px;
  margin-left: 15px;
  font-size: 1.2em;
  background-color: green;
  border: solid green 1px;
  border-radius: 10px;
  color: white;
}

.guessInstructions {
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.guessTheNumberResult {
  position: relative;
  top: 90px;
  width: 400px;
  margin: auto;
  font-size: 2em;
  color: white;
}

.resetButton {
  position: absolute;
  top: 38px;
  right: 90px;
}